*.qdb
*.qpg
*.qtl
*.ammdb
*.qmsg
*.cmp.*
*.ddb
*.hddb.*
*.hbdb.*
*.map.*
*.do.*
*.do
*.hdb
*.vho
*.sft
*.wlf
*.cdb
*.rpt
*.fit.*
*.done
*.jdi
*.pin
*.sld
*.sof
*.sta.*
*.asm.*
*.cbx.*
*.cmp_merge.*
*.hsd
*.db_info
*.hier_info
*.hif
*.lpc.*
*.logdb
*.rd.*
*.rdr.*
*.rdb
*.sci
*.tdb
*.tmw_info
*.txt
*.qdb
_*.*
